<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <title>Bigflower Info</title> --}}
    <style> 
        ul>li{
            list-style-type: decimal;
        }
    </style>
</head>
<body>
    {{!-- <%tên khách hàng%> 様 --}}
    <p>{{name}} 様</p>
    <p>ご注文ありがとうございました。</p>
    <p>フォームによるメールを受け付けました。</p><br>
    <p>いかなる理由でもご注文後のキャンセルや変更はできません。</p>
    <p>入会されてない方は１５時３０分までに入会されないとキャンセルになります。</p><br>
    <p style="color: #db2b1f;">※ご注意※</p>
    <p>・本メールはご注文受付後、始めにお送りする受付確認メールです。</p>
    <p>・在庫確認やご入金のご案内メールと前後する場合もございます。</p>
    <p>・道路事情等により一部の配達のお届けに遅延が発生する場合がございます。</p>
    <p>・受付後の商品点数等の変更のご対応ができない場合がございます。</p>
    <p>・ご変更、ご不明点がある場合は、必ずショップのお問い合わせからしていただきますようお願いいたします。</p><br>
    <p>ご不明点等は、下記メールアドレスよりお気軽にお問い合わせくださいませ。</p>
    <p>メールアドレス：info@kaseifu-babysitter.com </p>
    <div style="color: font-size: 14px;">
        <p>通信販売</p>
        <p>バーチャルショップ他　０３－３３０１－５１８０</p>
        <p>ゴールド通販　０３－３３１５ー１４７２</p>
    </div>
</body>
</html>