.main-item{
    margin-bottom: 35px;
    width: 48%;
    border-top-right-radius: 10px;
    box-shadow: $color_box_shadow;
    cursor: pointer;
    .item-header{
        margin-left: -10px;
        position: relative;
        padding: 0 10px 0 5px; 
        background-color: #88BE4C;
        border-top-right-radius: 10px;
        min-height: 70px;
        font-weight: 600;
        color: $white;
        // &::after{
        //     position: absolute;
        //     left: -10px;
        //     top: 0;
        //     content: '';
        //     width: 10px;
        //     height: 70px;
        //     background-color: #88BE4C;
        // }
        &::before{
            position: absolute;
            left: 3px;
            bottom: -7px;
            content: '';
            width: 14px;
            height: 12px;
            background-color: darken(#88BE4C, 10%);
            transform: rotate(45deg);
            z-index: -1;
        }
        &.off{
            background-color: #A5A8A1;
            color: $text-color;
            &::after{
                background-color: #A5A8A1;
            }
            &::before{
                background-color: darken(#A5A8A1, 10%);
            }
            .status{
                background-color: $gray-300;
            }
        }
        .types{
            justify-content: center;           
            .type{
                margin-bottom: 2px;
                padding: 2px;
                width: 55px !important;
                border-radius: 10px;
                font-size: 12px;
                color: $white;
                text-align: center;
            }
            .recom{
                background-color: $orange;
            }
            .visit{
                background-color: #00898B;
            }
        }
        .title{
            padding: 5px;
            margin: auto 0;
            width: 95%;
        }
        .status{
            margin: auto 0 auto auto;
            width: 70px !important;
            height: 25px;
            background-color: $red;
            border-radius: 5px;
            font-size: 14px;
            text-align: center;
            line-height: 1.7;
        }
    }
    .description{
        padding: 10px;
        background-color: darken($white, 5%);
        min-height: 100px;
    }
    @include responsive-max-width(768px){
        width: 98%;
        font-size: 14px;
        .item-header{
            .title{
                width: 90%;
            }
        }
    }
}