.scroll-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: $orange;
    border-radius: 50%;
    opacity: 0.6;
    cursor: pointer;
    animation: toTop 2s linear infinite;
    svg{
        font-weight: bold;
        color: $white;
    }
    &:hover{
        background-color: darken($color: $orange, $amount: 10%);
    }
}
@keyframes toTop {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}